<div id="userForm">
    <fieldset>
        <legend>Bejelentkezés</legend>
        <%= form_tag '/sessions/create', method: :post do %>
            <%= label_tag 'email', 'Email' %>
            <%= text_field 'email', '' %>

            <%= label_tag 'password', 'Jelszó' %>
            <%= text_field 'password', '' %>

            <%= submit_tag "Bejelentkezés" %>
        <% end %>
    </fieldset>
</div>