<div id="centerForm">
    <fieldset>
        <legend>Regisztráció</legend>
        <%= form_for @user, url: createuser_path, method: :post do |form|%>

            <%= form.label :name, 'Név' %>
            <%= form.text_field :name, placeholder: 'Név' %>

            <%= form.label :email, 'Email' %>
            <%= form.text_field :email, placeholder: 'Email' %>

            <%= form.label :password, 'Jelszó' %>
            <%= form.password_field :password, placeholder: 'Jelszó' %>

            <%= form.label :password_confirmation, 'Jelszó megerősítése' %>
            <%= form.password_field :password_confirmation, placeholder: 'Jelszó megerősítése' %>
            
            <%= form.submit "Regisztáció" %>
        <% end %>
    </fieldset>
</div>