<fieldset id="imageFieldset">
    <legend>Keresés</legend>
    <%= form_tag images_path, method: :get do %>
        <%= text_field_tag 'tag', @tag, placeholder: 'Cimke' %>
       
        <%= check_box_tag 'favourite', '', @favourite %>
        <%= label_tag 'favourite', 'Kedvendek' %>
        
        <%= check_box_tag 'own', '', @own %>
        <%= label_tag 'own', 'Saját képek' %>
        
        <%= submit_tag "Keresés", name: "" %>
    <% end %>
</fieldset>

<fieldset id="imageFieldset">
    <legend>Képek</legend>

    <% @images.each do |image| %>
        <div id="imageDiv">
            <a href="<%= image_path(image.id) %>">
                <%= image_tag download_image_path(image.id) %>
            </a>
        </div>
    <% end %>
    <div style="margin: 15px;"><%= will_paginate  @images %></div>
</fieldset>