<div id="showContentDiv">
    <fieldset>
        <div id="showImageDiv">
            <%= image_tag download_image_path(@image.id) %>
        </div>
        <div id="showImageSettingsDiv">
            <fieldset>
                <legend>Kép tulajdonságai</legend>
                <% if @image.user_id == @user.id %>
                    <%= button_to "Törlés", image_path(@image.id), method: :delete, data: { confirm: 'Biztos ki akarod törölni a képet?' } %>
                <% end %>

                <% if isFavourite?(@user.id, @image.id) %>
                    <%= button_to "Eltávolítás a kedvencekből", removefromfavourite_image_path(@image.id), :method => :post %>
                <% else %>
                    <%= button_to "Kedvencekhez adás", addtofavourite_image_path(@image.id), :method => :post %>
                <% end %>
                <p>Feltöltő: <%= @uploaderUser %></p>
            </fieldset>
        </div>
    </fieldset>
</div>

<div id="showCommentDiv">
    <fieldset>
        <legend>Komment hozzáadása</legend>
        <%= form_tag addcomment_image_path(@image.id), method: :post do %>
            <%= text_area 'content', nil %>

            <%= submit_tag "Küldés" %>
        <% end %>
    </fieldset>
    <fieldset>
        <legend>Kommentek</legend>
    </fieldset>
</div>